:root {
  --dark: #191a1d;
  --primary: #2eab71;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: ease font-size 0.25s;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}

.navbar {
  background-color: var(--dark);
}

.navbar__content {
  display: flex;
  padding: 60px 30px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.navbar__header {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.065em;
}

.navbar__header:after {
  width: 100%;
  max-width: 37px;
  height: 6px;
  display: block;
  content: "";
  border-radius: 1000px;
  background: var(--primary);
  transition: max-width 0.25s;
}

.navbar__header:hover:after {
  max-width: 20px;
}

.navbar__nav__list {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  color: #ababab;
}

.navbar__nav__list > li:not(:last-child) {
  margin-right: 3rem;
}

.navbar__link {
  transition: color 0.25s;
}

.navbar__link:hover {
  color: #fff;
}

.navbar__burger {
  color: #ffff;
  font-size: 1.5rem;
}

.banner {
  color: #fff;
  background-color: var(--dark);
  padding-bottom: 100px;
  background-size: 700px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 100px)
  );
}

.banner__content {
  display: flex;
  justify-content: space-around;
  padding: 60px 30px;
  max-width: 1200px;
  margin: auto;
}

.banner__content__left {
  padding-top: 50px;
  max-width: 500px;
}

.banner__img {
  background-color: #021014;
  padding: 50px;
}

.banner__img > img {
  max-width: 300px;
  margin-bottom: -100px;
}

.banner__title {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.banner__subtitle {
  color: #ababab;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 1000px;
  padding: 26px 48px;
  font-weight: 400;
  font-size: 1.75rem;
  color: #fff;
  transition: filter 0.135s;
}

.btn:hover {
  filter: brightness(1.075);
}

/* FOR DESKTOPS */

@media (max-width: 991px) {
  .banner {
    padding-bottom: 200px;
  }

  .banner__content {
    padding: 0 30px;
    flex-direction: column;
  }

  .banner__content__left {
    padding: 0;
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .banner__content__right {
    margin-left: auto;
    margin-right: 0;
  }

  .banner__img {
    padding: 24px;
  }

  .banner__img {
    max-width: 300px;
  }

  .banner__img > img {
    width: 100%;
    height: auto;
  }

  .banner__title {
    font-size: 3.25rem;
  }

  .banner__subtitle {
    font-size: 1.5rem;
  }

  .banner__btn {
    font-size: 1.25rem;
    padding: 18px 28px;
  }
}

/* FOR TABLETS */

@media (max-width: 767px) {
  .banner__btn {
    font-size: 1rem;
    padding: 13px 24px;
  }

  .banner__title {
    font-size: 2.5rem;
  }

  .banner__subtitle {
    font-size: 1.25rem;
  }

  .navbar__content {
    padding: 30px 30px;
  }

  .navbar__header {
    font-size: 1.25rem;
  }

  .navbar__burger {
    display: block;
  }
  .navbar__nav {
    display: none;
  }

  .banner__content__left {
    max-width: none;
  }
}

/* MOBILE QUERY */
@media (max-width: 577px) {
  .banner__title {
    font-size: 1.5rem;
  }

  .banner__subtitle {
    font-size: 1rem;
  }
}

/* FOR HAMBURGER ONLY */
@media (min-width: 768px) {
  .navbar__burger {
    display: none;
  }
  .navbar__nav {
    display: block;
  }
}

/* BREAKPOINTS */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
